package views

import "github.com/vikrant0526/personal-website/src/views/layouts"

templ Index() {
	@layouts.Base("Home") {
		<h1>Welcome to my website!</h1>
		<p>My name is Vikrant and I am a software engineer.</p>
		<img src="assets/images/vikrant-shah-peace-sign-memoji.png" alt="Vikrant Shah Peace Sign"/>
	}
}
