package views

import (
	"github.com/vikrant0526/personal-website/src/views/components"
	"github.com/vikrant0526/personal-website/src/views/layouts"
)

templ Index() {
	@layouts.Base("Home") {
		@components.Hero("Full Stack Developer")
	}
}
