package views

import "github.com/vikrant0526/personal-website/src/views/layouts"

templ Route404() {
	@layouts.Base("Home") {
		<h1>Oops this page does not exist</h1>
		<img src="assets/images/vikrant-shah-peace-sign-memoji.png" alt="Vikrant Shah Peace Sign"/>
	}
}
