package components

templ ButtonLink(href string, text string, download bool) {
	<div class="ml-2 bg-gradient-to-tr from-cyan-400 via-sky-500 to-sky-700">
		<a href={ templ.URL(href) } download?={ download } class="py-3 px-6 bg-white text-primary fill-primary text-base xl:text-lg flex items-center gap-2 duration-200 ease-in-out -translate-x-2 -translate-y-2 hover:translate-x-0 hover:translate-y-0 text-nowrap">{ text }</a>
	</div>
}
