package components

templ Footer() {
	<footer>
		<div class="p-2 flex justify-center">
			<p class="text-sm">© <span id="copyright-date"></span> Vikrant Shah. All rights reserved.</p>
		</div>
	</footer>
}
