package components

templ Hero() {
	<section class="h-screen w-screen relative overflow-clip">
		<div class="w-full aspect-square bg-cyan-500 blur-3xl rounded-full absolute top-0 translate-y-[-100%] pulse"></div>
		<div class="container p-4 flex m-auto h-screen items-center justify-between"></div>
	</section>
}
